<main class="main">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1>Productos de la cotización</h1>
    </mat-toolbar-row>
  </mat-toolbar>
  <form [formGroup]="formProducts">
    <mat-form-field>
      <input matInput placeholder="Descripción" type="text" formControlName="descripcion" required>
      <i matSuffix class="material-icons">description</i>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="ancho" type="number" formControlName="ancho" required>
      <i matSuffix class="material-icons">code</i>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="largo" type="number" formControlName="largo" required>
      <i matSuffix class="material-icons">unfold_more</i>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Valor unitario" type="number" formControlName="valor_unitario" required>
      <i matSuffix class="material-icons">attach_money</i>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Color" type="text" formControlName="color" required>
      <i matSuffix class="material-icons">color_lens</i>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Referencia" type="text" formControlName="referencia" required>
      <i matSuffix class="material-icons">label</i>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Ubicación" type="text" formControlName="ubicacion" required>
      <i matSuffix class="material-icons">my_location</i>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Cantidad" type="number" formControlName="cantidad" required>
      <i matSuffix class="material-icons">filter_9_plus</i>
    </mat-form-field>
    <mat-radio-group formControlName="pertenece_fab">
      <div class="mat-radio-button">
        <label>Pertenece a la fabrica(FRIXIO)</label>
        <div class="button">
          <mat-radio-button value="1">Si</mat-radio-button>
          <mat-radio-button value="0">No</mat-radio-button>
        </div>
      </div>
    </mat-radio-group>
    <div class="action">
      <button mat-raised-button [disabled]="formProducts.invalid" [mat-dialog-close] (click)="add(formProducts)">
        Terminar solicitud
      </button>
      <button mat-raised-button color="primary" [disabled]="formProducts.invalid" (click)="add(formProducts)">Agregar
        otro
      </button>
    </div>
  </form>

</main>

