table {
  width: 100%;
  @media only screen and (max-width: 767px) {
    width: 150vw;
  }
}

.w200 {
  @media only screen and (max-width: 767px) {
    overflow: auto;
    margin: 5% 5% 0 5%;
  }
}

.color-blue {
  color: #0c5593;
}

.color-red {
  color: rgba(255, 0, 0, 0.8);
}

i {
  cursor: pointer;
}

.crear {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 4rem 1rem 1rem 0;
}

.w100 {
  max-width: 100vw;
}

mat-paginator {
  @media only screen and (max-width: 767px) {
    margin-right: 5%;
  }
  margin-bottom: 5%;
}
