.main {
  height: 100%;
  width: 100%;
  @media only screen and (max-width: 767px) {
    height: 95vh;
  }
}

mat-form-field, .mat-radio-button {
  margin: 2%;
}

.mat-radio-button {
  display: flex;
  flex-direction: column;
}

.button {
  display: flex;
}

form {
  width: 100%;
}

mat-form-field {
  width: 40%;
  @media only screen and (max-width: 767px) {
    width: 80%;
  }
}

.action {
  margin: 2%;
  display: flex;
  justify-content: center;

  & > button {
    margin: 2%;
  }
}
