p {
  font-size: .8rem;
}

.calendar {
  color: #0c5593;
}

.check {
  color: #a6e22e;
}

.listic {
  color: #fff435;
}

.error {
  color: #ff0100;
}

.h-70 {
  max-height: 60vh !important;
  @media only screen and (max-width: 1024px) {
    height: 60vh !important;
  }
}

.example-chip-list {
  width: 100%;
}

.h-20 {
  max-height: 15vh;
  @media only screen and (max-width: 767px) {
    max-height: 30vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-left: 15px;
    padding-right: 15px;
    &-movil1 {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
      max-width: 50vw;
      padding: 0;
    }
    &-movil2 {
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;
      max-width: 50vw;
      padding: 0;
    }
    &-movil3 {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
      max-width: 50vw;
      padding: 0;
    }
    &-movil4 {
      grid-column: 2 / span 1;
      grid-row: 2 / span 1;
      max-width: 50vw;
      padding: 0;
    }
  }
  @media only screen and (max-width: 400px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: none;
    &-movil1 {
      max-width: 100vw;
      margin: 0;
    }
    &-movil2 {
      max-width: 100vw;
      margin: 0;
    }
    &-movil3 {
      max-width: 100vw;
      margin: 0;
    }
    &-movil4 {
      max-width: 100vw;
      margin: 0;
    }
  }
}

.info-reportes {
  max-height: 15vh;
  @media only screen and (max-width: 767px) {
    margin: 1%;
  }
}

.container {
  @media only screen and (max-width: 1024px) {
    min-width: 100vw;
  }
}

.h-auto {
  height: auto !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

.w100 {
  max-width: 100vw;
}

.responsive {
  @media only screen and (max-width: 767px) {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    & > mat-form-field {
      width: 80%;
      margin: 2%;
    }
  }
}
