<div class="container mt-3 h-auto">
  <div class="row h-20">
    <div class="col-3 movil-action-div h-20-movil1">
      <mat-card class="info-reportes">
        <div class="row">
          <div class="col-4 pa-0">
            <i class="material-icons calendar md-48">calendar_today</i>
          </div>
          <div class="col-8 text-right pa-0">
            Citas
            <br>
            <span>Total: {{totalCitas}}</span>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-3 movil-action-div h-20-movil2">
      <mat-card class="info-reportes">
        <div class="row">
          <div class="col-4 pa-0">
            <i class="material-icons md-48 listic">list</i>
          </div>
          <div class="col-8 text-right pa-0">
            Cotizaciones
            <br>
            <span>Total: {{totalCotizaciones}}</span>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-3 movil-action-div h-20-movil3">
      <mat-card class="info-reportes">
        <div class="row">
          <div class="col-4 pa-0">
            <i class="material-icons md-48 check">check_box</i>
          </div>
          <div class="col-8 text-right">
            Aprobadas
            <br>
            <span>Total: {{totalAprobadas}}</span>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-3 movil-action-div h-20-movil4">
      <mat-card class="info-reportes">
        <div class="row">
          <div class="col-4 pa-0">
            <i class="material-icons md-48 error">error_outline</i>
          </div>
          <div class="col-8 text-right">
            Rechazadas
            <br>
            <span>Total: {{totalNoAprobadas}}</span>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row h-75">
    <div class="col-12 w100">
      <mat-card class="mt-3">
        <div class="d-flex flex-row responsive">
          <mat-form-field>
            <mat-select placeholder="Seleccione tipo de gráfico" [(ngModel)]="lineChartType">
              <mat-option *ngFor="let option of typeChart" [value]="option.value">
                {{option.option}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Seleccione el año" [(ngModel)]="selectAno" (ngModelChange)="getData()">
              <mat-option *ngFor="let option of anos" [value]="option">
                {{option}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="d-flex flex-column justify-content-center align-items-center ml-2">
            <h5 class="text-center">Usuarios conectados: <span>{{user}}</span></h5>
          </div>
        </div>
        <canvas baseChart class="h-70"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType">
        </canvas>
      </mat-card>
    </div>
  </div>
</div>


