<mat-toolbar color="primary">{{type}} trabajador</mat-toolbar>
<form [formGroup]="form" class="m-2">
  <mat-form-field>
    <input matInput placeholder="Nombre" type="text" formControlName="nombre">
    <i matSuffix class="material-icons">person</i>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Usuario" formControlName="usuario" type="text">
    <i matSuffix class="material-icons">account_circle</i>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Contraseña" formControlName="contrasena" type="password">
    <i matSuffix class="material-icons">lock</i>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Rol" formControlName="id_rol">
      <mat-option *ngFor="let options of roles" [value]="options.id">{{options.nombre}}</mat-option>
    </mat-select>
    <i matSuffix class="material-icons">supervisor_account</i>
  </mat-form-field>
  <div class="d-flex justify-content-end align-items-center">
    <button mat-raised-button [mat-dialog-close]="trabajador" class="m-1">Cancelar</button>
    <button mat-raised-button color="primary" class="m-1" [disabled]="form.invalid"
            (click)="actgua(form)" [mat-dialog-close]="trabajador">{{type}}</button>
  </div>
</form>
