<div class="inicio">
  <mat-toolbar color="primary" class="inicio-toolbar">
    <h1 class="inicio-toolbar-text">Bienvenido {{user.user.nombre}}</h1>
    <div class="inicio-toolbar-actions">
      <i class="material-icons md-48" (click)="logout()">
        power_settings_new
      </i>
    </div>
  </mat-toolbar>
  <mat-tab-group>
    <mat-tab label="Instalaciones">
      <div class="inicio-body">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
          <i matSuffix class="material-icons">search</i>
        </mat-form-field>
        <div class="mat-elevation-z8">

          <table class="table" mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                Instalado
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>ID</th>
              <td mat-cell *matCellDef="let element"> {{element.id}}</td>
            </ng-container>
            <ng-container matColumnDef="entre">
              <th mat-header-cell *matHeaderCellDef>Fecha</th>
              <td mat-cell *matCellDef="let element"> {{element.entre}}</td>
            </ng-container>
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre</th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}}</td>
            </ng-container>
            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef>Descripción</th>
              <td mat-cell *matCellDef="let element"> {{element.descripcion}}
              <td>
            </ng-container>
            <ng-container matColumnDef="telefono">
              <th mat-header-cell *matHeaderCellDef> Teléfono</th>
              <td mat-cell *matCellDef="let element"> {{element.telefono}}
              <td>}}
            </ng-container>
            <ng-container matColumnDef="direccion">
              <th mat-header-cell *matHeaderCellDef> Dirección</th>
              <td mat-cell *matCellDef="let element"> {{element.direccion}}
              <td>
            </ng-container>
            <ng-container matColumnDef="barrio">
              <th mat-header-cell *matHeaderCellDef> Barrio</th>
              <td mat-cell *matCellDef="let element"> {{element.barrio}}</td>
            </ng-container>
            <ng-container matColumnDef="ciudad">
              <th mat-header-cell *matHeaderCellDef> Ciudad</th>
              <td mat-cell *matCellDef="let element"> {{element.ciudad}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
        </div>

      </div>

      <div class="body2">
        <mat-form-field>
          <input matInput (keyup)="applyFilter2($event.target.value)" placeholder="Buscar">
          <i matSuffix class="material-icons">search</i>
        </mat-form-field>
        <div class="example-container">

          <table class="table" mat-table [dataSource]="dataSource2">

            <ng-container matColumnDef="select" stickyEnd>
              <th mat-header-cell *matHeaderCellDef class="accion">
                Instalado
              </th>
              <td mat-cell *matCellDef="let row" class="accion">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>
            <ng-container matColumnDef="id" sticky>
              <th mat-header-cell *matHeaderCellDef>ID</th>
              <td mat-cell *matCellDef="let element"> {{element.id}}</td>
            </ng-container>
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre</th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}}</td>
            </ng-container>
            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef>Descripción</th>
              <td mat-cell *matCellDef="let element"> {{element.descripcion}}
              <td>
            </ng-container>
            <ng-container matColumnDef="telefono">
              <th mat-header-cell *matHeaderCellDef> Teléfono</th>
              <td mat-cell *matCellDef="let element"> {{element.telefono}}
              <td>
            </ng-container>
            <ng-container matColumnDef="direccion">
              <th mat-header-cell *matHeaderCellDef> Dirección</th>
              <td mat-cell *matCellDef="let element"> {{element.direccion}}
              <td>
            </ng-container>
            <ng-container matColumnDef="barrio">
              <th mat-header-cell *matHeaderCellDef> Barrio</th>
              <td mat-cell *matCellDef="let element"> {{element.barrio}}</td>
            </ng-container>
            <ng-container matColumnDef="ciudad">
              <th mat-header-cell *matHeaderCellDef> Ciudad</th>
              <td mat-cell *matCellDef="let element"> {{element.ciudad}}</td>
            </ng-container>
            <ng-container matColumnDef="entre">
              <th mat-header-cell *matHeaderCellDef>Fecha</th>
              <td mat-cell *matCellDef="let element"> {{element.entre}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
          </table>
        </div>
        <mat-paginator #paginator2 id="paginator2" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>

      </div>
      <div class="button">
        <button mat-flat-button color="primary" (click)="terminar()">Terminar</button>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
