.inicio {
  height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  @media only screen and (max-width: 767px) {
    overflow-x: hidden;
  }

  &-toolbar {
    grid-row: 1 / span 1;
    height: 10vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    @media only screen and(max-width: 767px) {
      max-width: 100vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;
    }

    & > h1 {
      margin-left: 16px;
    }

    &-actions {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-around;
      grid-row: 1 / span 1;
      grid-column: 6 / span 1;


      & > i {
        cursor: pointer;
        @media only screen and(max-width: 767px) {
          font-size: 24px;
        }
      }
    }
  }

  &-body {
    height: auto;
    grid-row: 2 / span 3;
    margin: 2%;
    @media only screen and(max-width: 767px) {
      display: none;
    }
  }
}

.body2 {
  max-width: 98vw;
  display: none;
  @media only screen and(max-width: 767px) {
    display: block;
  }
}


table {
  width: 100%;
  @media only screen and(max-width: 767px) {
    width: 300vw;
  }
}

span {
  cursor: pointer;
}

i {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 24px;
  width: 24px;
  margin-right: 16px;
  vertical-align: middle;
}

mat-tab-group {
  margin-top: 2%;
}

#paginator2 {
  margin-left: 5%;
}

.button {
  display: flex;
  justify-content: flex-end;
  margin: 2%;
  width: auto;
}
