<div class="main">
  <h1 mat-dialog-title>Cliente no encontrado</h1>
  <div mat-dialog-content>
    <p>No se encontró el cliente ¿desea crearlo?</p>
  </div>
  <mat-dialog-actions>
    <form>
      <button mat-button (click)="onNoClick(false)" [autofocus]="false" type="button">No gracias</button>
      <button mat-raised-button color="primary" (click)="onNoClick(true)" [autofocus]="true" type="submit">Si</button>
      <button mat-button [mat-dialog-close]="data.confirm" id="none"></button>
    </form>
  </mat-dialog-actions>
</div>
