<mat-drawer-container class="h-100 row m-0 desktop" *ngIf="pantalla">
  <mat-drawer mode="side" class="col-2 p-0" opened>
    <mat-toolbar color="primary">Cortinera</mat-toolbar>
    <mat-button-toggle-group class="actions">
      <mat-button-toggle class="w-100 h-25" routerLink="./dashboard">Dashboard</mat-button-toggle>
      <mat-button-toggle class="w-100 h-25" routerLink="./trabajadores">Trabajadores</mat-button-toggle>
      <mat-button-toggle class="w-100 h-25" (click)="logout()">Cerrar sesión</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-drawer>
  <mat-drawer-content class="col-10 o-hidden">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>


<mat-drawer-container *ngIf="!pantalla" class="movil" hasBackdrop="true">
  <mat-drawer #drawer mode="over" class="movil-sidenav">
    <mat-toolbar color="primary">Cortinera</mat-toolbar>
    <mat-button-toggle-group class="actions">
      <mat-button-toggle class="w-100 h-25" routerLink="./dashboard" (click)="drawer.toggle()">Dashboard
      </mat-button-toggle>
      <mat-button-toggle class="w-100 h-25" routerLink="./trabajadores" (click)="drawer.toggle()">Trabajadores
      </mat-button-toggle>
      <mat-button-toggle class="w-100 h-25" (click)="logout()">Cerrar sesión</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-drawer>
  <mat-drawer-content class="o-hidden">
    <mat-toolbar color="primary">
      <i class="material-icons burguer md-36" (click)="drawer.toggle()">reorder</i>
      Cortineria
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
<app-spinner *ngIf="spinner"></app-spinner>
