.h-100 {
  height: 100vh !important;
}

.b-primary {
  background-color: #3f51b5;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: none;
}

mat-button-toggle {
  margin: 2%;
  border: none !important;
}

.desktop {
  @media only screen and (max-width: 1024px) {
    display: none;
  }
}

.movil {
  display: none;
  @media only screen and (max-width: 1024px) {
    display: block;
    min-height: 100vh;
    &-sidenav {
      width: 30vw;
    }
  }
  @media only screen and (max-width: 767px) {
    &-sidenav {
      width: 50vw;
    }
  }
}


.burguer {
  cursor: pointer;
  display: none;
  @media only screen and (max-width: 1024px) {
    display: block;
    margin: 2%;
  }
}

.o-hidden {
  overflow: hidden;
  @media only screen and (max-width: 767px) {
    height: -webkit-fill-available !important;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
  }
}
