@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  background-color: rgb(240, 240, 240);
  overflow: hidden;
  @media only screen and (max-height: 500px) {
    height: -webkit-fill-available !important;
    overflow-y: auto;
  }
}

mat-form-field {
  padding: 5px;
}

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';
@import '~ngx-toastr/toastr.css';

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.mat-dialog-container {
  padding: 0 !important;
}

.example-container {
  @media only screen and (max-width: 767px) {
    overflow: auto;
    margin: 5% 0% 0 5%
  }
}

.mat-datepicker-content {
  margin: 0 !important;
}

.mat-tab-body-content {
  width: 100vw;
}

.c-p {
  cursor: pointer;
}

mat-paginator {
  @media only screen and(max-width: 767px) {
    margin-left: 5%;
  }
}

.table {
  margin: 0 !important;
  @media only screen and(max-width: 420px) {
    width: 250vw !important;
  }
}

.accion {
  @media only screen and (max-width: 767px) {
    padding: 0 !important;
    text-align: center !important;
    width: 7%;
  }
}

.mat-mini-fab, .mat-button-wrapper {
  padding: 0 !important;
}

.mat-select-arrow {
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
}
