<mat-drawer-container hasBackdrop="true">
  <mat-drawer #drawer mode="over">
    <mat-toolbar color="primary" class="inicio-toolbar">
      <h1 class="inicio-toolbar-text">Iniciar sesión</h1>
    </mat-toolbar>
    <form [formGroup]="formLogin" (submit)="login(formLogin)">
      <mat-form-field>
        <input matInput type="text" placeholder="Usuario" formControlName="usuario">
        <i matSuffix class="material-icons">account_box</i>
      </mat-form-field>
      <mat-form-field>
        <input matInput [type]="type" placeholder="Contraseña" formControlName="contrasena">
        <i matSuffix class="material-icons c-p" *ngIf="visibility" (click)="show()">visibility_off</i>
        <i matSuffix class="material-icons c-p" *ngIf="!visibility" (click)="show()">visibility</i>
      </mat-form-field>
      <button class="button2" mat-raised-button type="submit" color="primary">Iniciar sesión</button>
    </form>
  </mat-drawer>
  <mat-drawer-content>
    <div class="inicio">
      <mat-toolbar color="primary" class="inicio-toolbar">
        <i class="material-icons burguer md-36" (click)="drawer.toggle()">
          reorder
        </i>
        <h1 class="inicio-toolbar-text">Cortinería</h1>
        <div class="inicio-toolbar-actions">
          <form [formGroup]="formLogin" (submit)="login(formLogin)">
            <mat-form-field>
              <input matInput type="text" placeholder="Usuario" formControlName="usuario">
              <i matSuffix class="material-icons">account_circle</i>
            </mat-form-field>
            <mat-form-field>
              <input matInput [type]="type" placeholder="Contraseña" formControlName="contrasena">
              <i matSuffix class="material-icons c-p" *ngIf="visibility" (click)="show()">visibility_off</i>
              <i matSuffix class="material-icons c-p" *ngIf="!visibility" (click)="show()">visibility</i>
            </mat-form-field>
            <button class="button" mat-raised-button type="submit">Iniciar sesión</button>
          </form>
        </div>
      </mat-toolbar>
      <mat-tab-group>
        <mat-tab label="Reservar cita">
          <mat-horizontal-stepper #stepper [linear]="true" class="inicio-body">
            <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup" (submit)="next(firstFormGroup,stepper,'false')">
                <ng-template matStepLabel>Realizar búsqueda</ng-template>
                <mat-form-field>
                  <input matInput type="number" placeholder="Cédula" formControlName="cedula" required>
                  <i matSuffix class="material-icons">credit_card</i>
                </mat-form-field>
                <div>
                  <button mat-raised-button color="primary" type="submit" [disabled]="firstFormGroup.invalid">Buscar
                  </button>
                  <button id="triger" matStepperNext></button>
                </div>
              </form>
            </mat-step>


            <mat-step [stepControl]="secondFormGroup">
              <form [formGroup]="secondFormGroup" (submit)="sgte(secondFormGroup, 'false')">
                <ng-template matStepLabel>Datos cliente</ng-template>
                <mat-form-field>
                  <input matInput type="number" placeholder="Cédula" formControlName="cedula" autofocus>
                  <i matSuffix class="material-icons">credit_card</i>
                </mat-form-field>
                <mat-form-field>
                  <input type="text" placeholder="Ciudad" matInput formControlName="ciudad"
                         [formControl]="search" aria-label="Ciudad"
                         [matAutocomplete]="auto">
                  <i matSuffix class="material-icons">location_city</i>
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <div>
                  <mat-form-field>
                    <input matInput type="text" placeholder="Nombre completo"
                           formControlName="nombre_completo">
                    <i matSuffix class="material-icons">person</i>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput type="text" placeholder="Dirección"
                           formControlName="direccion">
                    <i matSuffix class="material-icons">
                      add_location
                    </i>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput type="text" placeholder="Barrio" formControlName="barrio">
                    <i matSuffix class="material-icons">map</i>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput type="number" placeholder="Teléfono"
                           formControlName="telefono">
                    <i matSuffix class="material-icons">
                      phone_iphone
                    </i>
                  </mat-form-field>
                </div>
                <div>
                  <button mat-button matStepperPrevious type="button" (click)="destroy(stepper)">Atrás</button>
                  <button mat-raised-button color="primary" type="submit" [disabled]="secondFormGroup.invalid">Siguiente
                  </button>
                  <button id="ottriger" matStepperNext></button>
                </div>
              </form>
            </mat-step>


            <mat-step>
              <ng-template matStepLabel>Reservar cita</ng-template>
              <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Selecciona la fecha" (dateChange)="selectFecha()"
                       [(ngModel)]="fecha" [min]="minDate" [matDatepickerFilter]="myFilter" required disabled>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker disabled="false"></mat-datepicker>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Seleccione la hora</mat-label>
                <mat-select value="" [disabled]="hora" [(ngModel)]="horaFinal" required>
                  <mat-option *ngFor="let hour of horasHabilitadas" [value]="hour.id">{{hour.hora}}</mat-option>
                </mat-select>
                <i matSuffix class="material-icons">query_builder</i>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Seleccione el tipo de trabajo</mat-label>
                <mat-select value="" [disabled]="hora" [(ngModel)]="tipo" required="">
                  <mat-option value="Arreglo">Arreglo</mat-option>
                  <mat-option value="Instalación">Instalación</mat-option>
                </mat-select>
                <i matSuffix class="material-icons">work</i>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious (click)="destroy(stepper)">Cancelar</button>
                <button mat-raised-button color="primary" type="button" (click)="reserveCita(stepper)">Crear</button>
              </div>
            </mat-step>
          </mat-horizontal-stepper>

          <mat-vertical-stepper #stepper2 [linear]="true" class="inicio-body2">
            <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup" (submit)="next(firstFormGroup,stepper2, 'true')">
                <ng-template matStepLabel>Realizar búsqueda</ng-template>
                <mat-form-field>
                  <input matInput type="number" placeholder="Cédula" formControlName="cedula" required>
                  <i matSuffix class="material-icons">credit_card</i>
                </mat-form-field>
                <div>
                  <button mat-raised-button color="primary" type="submit" [disabled]="firstFormGroup.invalid"
                  >Buscar
                  </button>
                  <button id="triger2" matStepperNext></button>
                </div>
              </form>
            </mat-step>


            <mat-step [stepControl]="secondFormGroup">
              <form [formGroup]="secondFormGroup" (submit)="sgte(secondFormGroup,'true')">
                <ng-template matStepLabel>Datos cliente</ng-template>
                <mat-form-field>
                  <input matInput type="number" placeholder="Cédula" formControlName="cedula">
                  <i matSuffix class="material-icons">credit_card</i>
                </mat-form-field>
                <div>
                  <mat-form-field>
                    <input matInput type="text" placeholder="Nombre completo"
                           formControlName="nombre_completo">
                    <i matSuffix class="material-icons">
                      person
                    </i>
                  </mat-form-field>
                  <mat-form-field>
                    <input type="text" placeholder="Ciudad" matInput formControlName="ciudad"
                           [formControl]="search" aria-label="Ciudad"
                           [matAutocomplete]="auto">
                    <i matSuffix class="material-icons">location_city</i>
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput type="text" placeholder="Dirección"
                           formControlName="direccion">
                    <i matSuffix class="material-icons">
                      add_location
                    </i>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput type="text" placeholder="Barrio" formControlName="barrio">
                    <i matSuffix class="material-icons">map</i>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput type="number" placeholder="Teléfono"
                           formControlName="telefono">
                    <i matSuffix class="material-icons">
                      phone_iphone
                    </i>
                  </mat-form-field>
                </div>
                <div>
                  <button mat-button matStepperPrevious (click)="destroy(stepper2)">Atrás</button>
                  <button mat-raised-button color="primary" type="submit" [disabled]="secondFormGroup.invalid">Siguiente
                  </button>
                  <button id="ottriger2" matStepperNext></button>
                </div>
              </form>
            </mat-step>


            <mat-step>
              <ng-template matStepLabel>Reservar cita</ng-template>
              <mat-form-field>
                <input matInput [matDatepicker]="picker2" placeholder="Selecciona la fecha" (dateChange)="selectFecha()"
                       [(ngModel)]="fecha" [min]="minDate" [matDatepickerFilter]="myFilter" required disabled>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 disabled="false"></mat-datepicker>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Seleccione la hora</mat-label>
                <mat-select value="" [disabled]="hora" [(ngModel)]="horaFinal" required>
                  <mat-option *ngFor="let hour of horasHabilitadas" [value]="hour.id">{{hour.hora}}</mat-option>
                </mat-select>
                <i matSuffix class="material-icons">query_builder</i>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Seleccione el tipo de trabajo</mat-label>
                <mat-select value="" [disabled]="hora" [(ngModel)]="tipo" required="">
                  <mat-option value="Arreglo">Arreglo</mat-option>
                  <mat-option value="Instalación">Instalación</mat-option>
                </mat-select>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious (click)="destroy(stepper2)">Cancelar</button>
                <button mat-raised-button color="primary" type="button" (click)="reserveCita(stepper2)">Crear</button>
              </div>
            </mat-step>
          </mat-vertical-stepper>
        </mat-tab>
        <mat-tab label="Consultas">
          <mat-horizontal-stepper [linear]="true" #stepper3>
            <mat-step [stepControl]="formConsulta">
              <form [formGroup]="formConsulta" (submit)="consultar(formConsulta,'false', stepper3)">
                <ng-template matStepLabel>Realizar búsqueda</ng-template>
                <mat-form-field>
                  <input matInput placeholder="Cédula" formControlName="cedula" required>
                  <i matSuffix class="material-icons">credit_card</i>
                </mat-form-field>
                <div>
                  <button mat-raised-button color="primary" type="submit" [disabled]="formConsulta.invalid">Buscar
                  </button>
                  <button id="triger3" matStepperNext></button>
                </div>
              </form>
            </mat-step>
            <mat-step>
              <h2>Bienvenido {{nombre}}</h2>
              <h4>Estas son tus citas y/o cotizaciones</h4>
              <form>
                <ng-template matStepLabel>Datos cliente</ng-template>
                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Citas
                      </mat-panel-title>
                      <mat-panel-description>
                        Citas para cotización
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="tb">
                      <table class="table" mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="id">
                          <th mat-header-cell *matHeaderCellDef> ID</th>
                          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>
                        <ng-container matColumnDef="realizada">
                          <th mat-header-cell *matHeaderCellDef> Realizada</th>
                          <td mat-cell *matCellDef="let element"> {{element.aprobado}} </td>
                        </ng-container>
                        <ng-container matColumnDef="tipo">
                          <th mat-header-cell *matHeaderCellDef> Tipo</th>
                          <td mat-cell *matCellDef="let element"> {{element.tipo_trabajo}} </td>
                        </ng-container>
                        <ng-container matColumnDef="hora">
                          <th mat-header-cell *matHeaderCellDef> Hora</th>
                          <td mat-cell *matCellDef="let element"> {{element.hora}} </td>
                        </ng-container>
                        <ng-container matColumnDef="fecha">
                          <th mat-header-cell *matHeaderCellDef> Fecha</th>
                          <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                    </div>
                  </mat-expansion-panel>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Cotizaciones
                      </mat-panel-title>
                      <mat-panel-description>
                        Cotizaciones a realizar
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="tb">
                      <table class="table" mat-table [dataSource]="dataSource2">
                        <ng-container matColumnDef="id" sticky>
                          <th mat-header-cell *matHeaderCellDef> ID</th>
                          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>
                        <ng-container matColumnDef="descripcion">
                          <th mat-header-cell *matHeaderCellDef> Descripción</th>
                          <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                        </ng-container>
                        <ng-container matColumnDef="aprobado">
                          <th mat-header-cell *matHeaderCellDef> Aprobado</th>
                          <td mat-cell *matCellDef="let element"> {{element.aprobado}} </td>
                        </ng-container>
                        <ng-container matColumnDef="forma">
                          <th mat-header-cell *matHeaderCellDef> Forma</th>
                          <td mat-cell *matCellDef="let element"> {{element.forma}} </td>
                        </ng-container>
                        <ng-container matColumnDef="terminado">
                          <th mat-header-cell *matHeaderCellDef> Terminado</th>
                          <td mat-cell *matCellDef="let element"> {{element.terminado}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                      </table>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
                <div class="m-1">
                  <button mat-raised-button matStepperPrevious color="primary" (click)="destroy(stepper3)">Volver
                  </button>
                </div>
              </form>
            </mat-step>
          </mat-horizontal-stepper>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
<app-spinner *ngIf="spinner"></app-spinner>
