<div class="w100">
  <div class="crear">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
      <i matSuffix class="material-icons">search</i>
    </mat-form-field>
    <button mat-mini-fab color="primary" class="d-flex justify-content-center align-items-center p-0"
            (click)="openDialog('Crear',{})">
      <i class="material-icons md-36">add</i>
    </button>
  </div>
  <div class=" w200">
    <table class="table" mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id" sticky>
        <th mat-header-cell *matHeaderCellDef> ID</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre</th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>
      <ng-container matColumnDef="rol">
        <th mat-header-cell *matHeaderCellDef>Rol</th>
        <td mat-cell *matCellDef="let element"> {{element.rol_trabajador.nombre}} </td>
      </ng-container>
      <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef> Usuario</th>
        <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
      </ng-container>
      <ng-container matColumnDef="password">
        <th mat-header-cell *matHeaderCellDef> Contraseña</th>
        <td mat-cell *matCellDef="let element"> {{element.password}} </td>
      </ng-container>
      <ng-container matColumnDef="editar" stickyEnd>
        <th mat-header-cell *matHeaderCellDef> Editar</th>
        <td mat-cell *matCellDef="let element" (click)="openDialog('Editar',element)"><i
          class="material-icons md-36 color-blue">
          edit
        </i></td>
      </ng-container>
      <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef> Eliminar</th>
        <td mat-cell *matCellDef="let element" (click)="delete(element.id)"><i class="material-icons md-36 color-red">
          delete
        </i></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5"></mat-paginator>
</div>

<app-spinner *ngIf="spinner"></app-spinner>
