.inicio {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  @media only screen and (max-width: 767px) {
    overflow-x: hidden;
  }

  &-toolbar {
    grid-row: 1 / span 1;
    height: 10vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    @media only screen and(max-width: 1100px) {
      height: 12vh;
    }
    @media only screen and(max-width: 767px) {
      max-width: 100vw;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    &-actions {
      display: flex;
      justify-content: center;
      align-items: center;
      grid-row: 1 / span 1;
      grid-column: 5 / span 2;
      @media only screen and(max-width: 1100px) {
        grid-column: 4 / span 3;
      }
      @media only screen and (max-width: 767px) {
        display: none;
      }
    }
  }


  &-body {
    height: auto;
    grid-row: 2 / span 3;
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }

  &-body2 {
    display: none;
    @media only screen and (max-width: 767px) {
      display: block;
    }
  }
}

form {
  width: 100%;
}

mat-form-field {
  width: 35%;
  @media only screen and (max-width: 767px) {
    width: 80%;
    margin: 7%;
  }
}

.button {
  text-align: center;
  bottom: 10px;
  width: 28%;
}

.button2 {
  text-align: center;
  bottom: 10px;
  width: 80%;
  margin: 7%;
}

#triger {
  opacity: 0;
}

#ottriger {
  opacity: 0;
}

#triger2 {
  opacity: 0;
}

#triger3 {
  opacity: 0;
}

#ottriger2 {
  opacity: 0;
}

.burguer {
  cursor: pointer;
  display: none;
  @media only screen and (max-width: 767px) {
    display: block;
    margin: 2%;
  }
}

.block {
  display: block;
}

mat-drawer-content {
  max-width: 100vw;
  overflow-x: hidden;
}

mat-drawer {
  width: 70vw;
}

mat-horizontal-stepper {
  margin: 3% 0 0 0;
}

mat-tab-group {
  margin: 3% 0 0 0;
}

table {
  width: 100%;
}

mat-accordion {
  margin-top: 1%;
}

.m-1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1%;
}

table {
  width: 100%;
  @media only screen and(max-width: 767px) {
    width: 200%;
    overflow: auto;
  }
}

mat-horizontal-stepper {
  width: 100%;
}

.tb {
  overflow: auto;
}
