<div class="inicio">
  <mat-toolbar color="primary" class="inicio-toolbar">
    <h1 class="inicio-toolbar-text">Bienvenido {{user.user.nombre}}</h1>
    <div class="inicio-toolbar-actions">
      <i class="material-icons md-48" (click)="logout()">
        power_settings_new
      </i>
    </div>
  </mat-toolbar>
  <mat-tab-group (selectedIndexChange)="_setDataSource($event)">
    <mat-tab label="Citas">
      <div class="inicio-body">
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Selecione la fecha" (dateChange)="selectFecha()"
                 [(ngModel)]="fecha" [min]="minDate" [matDatepickerFilter]="myFilter" required disabled>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker disabled="false"></mat-datepicker>
        </mat-form-field>

        <div class="mat-elevation-z8">

          <table class="table" mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> ID</th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="nombre_completo">
              <th mat-header-cell *matHeaderCellDef> Nombre</th>
              <td mat-cell *matCellDef="let element"> {{element.cliente_cita.nombre_completo}} </td>
            </ng-container>
            <ng-container matColumnDef="direccion">
              <th mat-header-cell *matHeaderCellDef>Direccion</th>
              <td mat-cell *matCellDef="let element"> {{element.cliente_cita.direccion}} </td>
            </ng-container>
            <ng-container matColumnDef="barrio">
              <th mat-header-cell *matHeaderCellDef> Barrio</th>
              <td mat-cell *matCellDef="let element"> {{element.cliente_cita.barrio}} </td>
            </ng-container>
            <ng-container matColumnDef="ciudad">
              <th mat-header-cell *matHeaderCellDef> Ciudad</th>
              <td mat-cell *matCellDef="let element"> {{element.cliente_cita.ciudad}} </td>
            </ng-container>
            <ng-container matColumnDef="telefono">
              <th mat-header-cell *matHeaderCellDef> Telefono</th>
              <td mat-cell *matCellDef="let element"> {{element.cliente_cita.telefono}} </td>
            </ng-container>
            <ng-container matColumnDef="tipo_trabajo">
              <th mat-header-cell *matHeaderCellDef> Tipo trabajo</th>
              <td mat-cell *matCellDef="let element"> {{element.tipo_trabajo}} </td>
            </ng-container>
            <ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef> Fecha</th>
              <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
            </ng-container>
            <ng-container matColumnDef="hora">
              <th mat-header-cell *matHeaderCellDef> Hora</th>
              <td mat-cell *matCellDef="let element"> {{element.hora_cita.hora}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Acciones</th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="menu" [disabled]="action">
                  <i class="material-icons">more_vert</i>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item class="menu-button"
                          (click)="openDialog('solicitar', element.fecha, element.id)">
                    <i class="material-icons">assignment_turned_in</i>
                    <span>Solicitar a crédito</span>
                  </button>
                  <button mat-menu-item (click)="openDialog('confirmacion', element.fecha, element.id)">
                    <i class="material-icons">check_circle</i>
                    <span>Solicitar confirmación crédito</span>
                  </button>
                  <button mat-menu-item (click)="openDialog('contado', element.fecha, element.id)">
                    <i class="material-icons">monetization_on</i>
                    <span>Pago contado</span>
                  </button>
                  <button mat-menu-item (click)="openDialog('aprobado', element.fecha, element.id)">
                    <i class="material-icons">cancel</i>
                    <span>No confirmado</span>
                  </button>
                </mat-menu>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5"></mat-paginator>
        </div>

      </div>

      <div class="body2">
        <mat-form-field>
          <input matInput [matDatepicker]="picker2" placeholder="Seleccione la fecha" (dateChange)="selectFecha()"
                 [(ngModel)]="fecha" [min]="minDate" [matDatepickerFilter]="myFilter" required disabled>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2 disabled="false"></mat-datepicker>
        </mat-form-field>

        <div class="example-container">

          <table class="table" mat-table [dataSource]="dataSource2">
            <ng-container matColumnDef="id" sticky>
              <th mat-header-cell *matHeaderCellDef> ID</th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="nombre_completo">
              <th mat-header-cell *matHeaderCellDef> Nombre</th>
              <td mat-cell *matCellDef="let element"> {{element.cliente_cita.nombre_completo}} </td>
            </ng-container>
            <ng-container matColumnDef="direccion">
              <th mat-header-cell *matHeaderCellDef>Dirección</th>
              <td mat-cell *matCellDef="let element"> {{element.cliente_cita.direccion}} </td>
            </ng-container>
            <ng-container matColumnDef="barrio">
              <th mat-header-cell *matHeaderCellDef> Barrio</th>
              <td mat-cell *matCellDef="let element"> {{element.cliente_cita.barrio}} </td>
            </ng-container>
            <ng-container matColumnDef="ciudad">
              <th mat-header-cell *matHeaderCellDef> Ciudad</th>
              <td mat-cell *matCellDef="let element"> {{element.cliente_cita.ciudad}} </td>
            </ng-container>
            <ng-container matColumnDef="telefono">
              <th mat-header-cell *matHeaderCellDef> Teléfono</th>
              <td mat-cell *matCellDef="let element"> {{element.cliente_cita.telefono}} </td>
            </ng-container>
            <ng-container matColumnDef="hora">
              <th mat-header-cell *matHeaderCellDef> Hora</th>
              <td mat-cell *matCellDef="let element"> {{element.hora_cita.hora}} </td>
            </ng-container>
            <ng-container matColumnDef="action" stickyEnd>
              <th mat-header-cell *matHeaderCellDef class="accion"> Acciones</th>
              <td mat-cell *matCellDef="let element" class="accion">
                <button mat-icon-button [matMenuTriggerFor]="menu" [disabled]="action">
                  <i class="material-icons">more_vert</i>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item class="menu-button"
                          (click)="openDialog('solicitar', element.fecha, element.id)">
                    <i class="material-icons">assignment_turned_in</i>
                    <span>Solicitar a crédito</span>
                  </button>
                  <button mat-menu-item (click)="openDialog('confirmacion', element.fecha, element.id)">
                    <i class="material-icons">check_circle</i>
                    <span>Solicitar confirmación crédito</span>
                  </button>
                  <button mat-menu-item (click)="openDialog('contado', element.fecha, element.id)">
                    <i class="material-icons">monetization_on</i>
                    <span>Pago contado</span>
                  </button>
                  <button mat-menu-item (click)="openDialog('aprobado', element.fecha, element.id)">
                    <i class="material-icons">cancel</i>
                    <span>No confirmado</span>
                  </button>
                </mat-menu>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
          </table>
        </div>
        <mat-paginator #paginator2 [pageSizeOptions]="[5, 10, 20]" [pageSize]="5"></mat-paginator>
      </div>
    </mat-tab>
    <mat-tab label="Cotizaciones">
      <div class="inicio-body">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
          <i matSuffix class="material-icons">search</i>
        </mat-form-field>
        <div class="mat-elevation-z8">
          <table class="table" mat-table [dataSource]="dataSource3">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> ID</th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre</th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>
            <ng-container matColumnDef="telefono">
              <th mat-header-cell *matHeaderCellDef> Teléfono</th>
              <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
            </ng-container>
            <ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef> Fecha instalación</th>
              <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
            </ng-container>
            <ng-container matColumnDef="aprobado">
              <th mat-header-cell *matHeaderCellDef> Aprobado</th>
              <td mat-cell *matCellDef="let element"> {{element.aprobado}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Acciones</th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="menu" [disabled]="element.disabled">
                  <i class="material-icons">more_vert</i>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item class="menu-button" (click)="aprobado(element.id,true)">
                    <i class="material-icons">assignment_turned_in</i>
                    <span>Aprobado</span>
                  </button>
                  <button mat-menu-item (click)="aprobado(element.id,null)">
                    <i class="material-icons">assignment_return</i>
                    <span>Pasar a contado</span>
                  </button>
                  <button mat-menu-item (click)="aprobado(element.id,false)">
                    <i class="material-icons">cancel</i>
                    <span>No aprobado</span>
                  </button>
                </mat-menu>
              </td>
            </ng-container>
            <ng-container matColumnDef="forma">
              <th mat-header-cell *matHeaderCellDef> Forma de pago</th>
              <td mat-cell *matCellDef="let element"> {{element.forma}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
          </table>
          <mat-paginator #paginator3 [pageSizeOptions]="[5, 10, 20]" [pageSize]="5"></mat-paginator>
        </div>
      </div>
      <div class="body2">
        <mat-form-field>
          <input matInput (keyup)="applyFilter2($event.target.value)" placeholder="Buscar">
          <i matSuffix class="material-icons">search</i>
        </mat-form-field>
        <div class="example-container">
          <table class="table" mat-table [dataSource]="dataSource4">
            <ng-container matColumnDef="id" sticky>
              <th mat-header-cell *matHeaderCellDef> ID</th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre</th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>
            <ng-container matColumnDef="telefono">
              <th mat-header-cell *matHeaderCellDef> Teléfono</th>
              <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
            </ng-container>
            <ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef> Fecha instalación</th>
              <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
            </ng-container>
            <ng-container matColumnDef="aprobado">
              <th mat-header-cell *matHeaderCellDef> Aprobado</th>
              <td mat-cell *matCellDef="let element"> {{element.aprobado}} </td>
            </ng-container>
            <ng-container matColumnDef="action" stickyEnd>
              <th mat-header-cell *matHeaderCellDef class="accion"> Acciones</th>
              <td mat-cell *matCellDef="let element" class="accion">
                <button mat-icon-button [matMenuTriggerFor]="menu" [disabled]="element.disabled">
                  <i class="material-icons">more_vert</i>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="aprobado(element.id,true)">
                    <i class="material-icons">assignment_turned_in</i>
                    <span>Aprobado</span>
                  </button>
                  <button mat-menu-item (click)="aprobado(element.id,null)">
                    <i class="material-icons">cassignment_return</i>
                    <span>Pasar a contado</span>
                  </button>
                  <button mat-menu-item (click)="aprobado(element.id,false)">
                    <i class="material-icons">cancel</i>
                    <span>No aprobado</span>
                  </button>
                </mat-menu>
              </td>
            </ng-container>
            <ng-container matColumnDef="forma">
              <th mat-header-cell *matHeaderCellDef> Forma de pago</th>
              <td mat-cell *matCellDef="let element"> {{element.forma}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns4"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns4;"></tr>
          </table>
        </div>
        <mat-paginator #paginator4 [pageSizeOptions]="[5, 10, 20]" [pageSize]="5"></mat-paginator>
      </div>
    </mat-tab>
    <mat-tab label="Productos">
      <div class="inicio-body2">
        <mat-form-field>
          <input matInput (keyup)="applyFilter5($event.target.value)" placeholder="Buscar">
          <i matSuffix class="material-icons">search</i>
        </mat-form-field>
        <div class="example-container">
          <table class="table" mat-table [dataSource]="dataSource5">
            <ng-container matColumnDef="id" sticky>
              <th mat-header-cell *matHeaderCellDef> ID</th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre</th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>
            <ng-container matColumnDef="cantidad">
              <th mat-header-cell *matHeaderCellDef> Cantidad</th>
              <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
            </ng-container>
            <ng-container matColumnDef="color">
              <th mat-header-cell *matHeaderCellDef> Color</th>
              <td mat-cell *matCellDef="let element"> {{element.color}} </td>
            </ng-container>
            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef> Descripción</th>
              <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
            </ng-container>
            <ng-container matColumnDef="ancho">
              <th mat-header-cell *matHeaderCellDef> Ancho</th>
              <td mat-cell *matCellDef="let element"> {{element.ancho}} </td>
            </ng-container>
            <ng-container matColumnDef="largo">
              <th mat-header-cell *matHeaderCellDef> Largo</th>
              <td mat-cell *matCellDef="let element"> {{element.largo}} </td>
            </ng-container>
            <ng-container matColumnDef="mts">
              <th mat-header-cell *matHeaderCellDef> Mts</th>
              <td mat-cell *matCellDef="let element"> {{element.mts}} </td>
            </ng-container>
            <ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef> Fecha instalacion</th>
              <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
            </ng-container>
            <ng-container matColumnDef="select" stickyEnd>
              <th mat-header-cell *matHeaderCellDef class="accion">
                Terminado
              </th>
              <td mat-cell *matCellDef="let row" class="accion">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns5"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns5;"></tr>
          </table>
        </div>
        <mat-paginator #paginator5 [pageSizeOptions]="[5, 10, 20]" [pageSize]="5"></mat-paginator>
        <div class="actions3">
          <button mat-raised-button mat-button color="primary" (click)="terminar()">Terminar</button>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<app-spinner *ngIf="spinner"></app-spinner>
